* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .panel {
        flex-direction: column;
    }

    .card {
        width: 100% !important;
        justify-content: center;
    }
}